* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	/* background: #000; */
	background: #333;
	overflow: hidden;
}

button {
	position: relative;
	margin: 20px;
	padding: 20px 50px;
	background: none;
	border: 2px solid rgb(255, 215, 0);
	border-radius: 8px;
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
	overflow: hidden;
	cursor: pointer;
}

button::before,
button::after {
	content: '';
	display: block;
	position: absolute;
	transition: 0.4s;
	z-index: -1;
}

.button-one {
	width: 270px;
	height: 95px;
}
.button-one::after {
	height: 100%;
	top: 0;
	left: -10px;
	border: 2px solid rgb(255, 215, 0);
}
.button-one::before {
	width: 100%;
	top: -10px;
	left: 0px;
	border: 2px solid rgb(255, 215, 0);
	transition-delay: 0.1s;
}
.button-one:hover::after {
	left: 300px;
}
.button-one:hover::before {
	top: 100px;
}
.span-button-one,
.span-button-two {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
.span-button-one {
	left: 50%;
	transition: left 0.3s;
}
.span-button-two {
	left: -50%;
	transition: left 0.3s 0.1s;
}
.button-one:hover .span-button-one {
	left: 120%;
}
.button-one:hover .span-button-two {
	left: 50%;
}

.button-two::before,
.button-two::after {
	width: 100%;
	height: 100%;
	background-color: rgb(255, 215, 0);
}
.button-two::before {
	top: -50%;
	left: -100%;
}
.button-two::after {
	bottom: -50%;
	right: -100%;
}

.button-two:hover::before {
	left: 0;
}
.button-two:hover::after {
	right: 0;
}

.button-three {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: rgb(196, 23, 23);
	border: none;
	transition: 0.5s;
}

.button-three:hover {
	box-shadow: 2px 3px 0 20px rgba(255, 255, 255, 0.7), inset 11px 20px 10px rgba(0, 0, 0, 0.4);
}
